# ========== 服务基础配置 ==========
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
LOG_LEVEL=INFO

# ========== MySQL 数据库 ==========
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB_NAME=edu_rag_db
MYSQL_USER=edu_rag_user
MYSQL_PASSWORD=

# ========== Redis 缓存 ==========
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# ========== Milvus向量库 ==========
MILVUS_HOST=127.0.0.1
MILVUS_PORT=19530
MILVUS_COLLECTION=knowledge_collection

# ========== MinIO 对象存储 ==========
MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# ========== LLM 千问 ==========
LLM_BASE_URL=https://llm-z7p8u524xmbkwnq4.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
LLM_MODEL_NAME=qwen3.7-plus
DASHSCOPE_API_KEY=

# ========== 向量Embedding模型路径 ==========
EMBED_MODEL_PATH=./models/bge-small-zh-v1.5

# ========== Rerank重排模型 ==========
RERANK_MODEL_PATH=./models/bge-reranker-v2-m3
RERANK_SCORE_THRESHOLD=0.1

# ========== 应用业务配置 ==========
CUSTOMER_SERVICE_PHONE=12345678